@tailwind base;
@tailwind components;
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./Roboto-Regular.ttf) format('ttf');
}
@tailwind utilities;

body {
	color: #1a202c;
	background-color: #f5f5f5;
}

nav {
	background-color: #212121;
}

.profile-card {
	max-width: 240px; 
	min-width: 240px;
	min-height: 420px;
	 max-height: 420px;
}

.project-card {
	max-width: 240px; 
	min-width: 240px;
	min-height: 420px;
	 max-height: 420px;
}