@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: #1a202c;
	background-color: #eee;
}

nav {
	background-color: #212121;
}

.profile-card {
	max-width: 240px; 
	min-width: 240px;
	min-height: 420px;
	 max-height: 420px;
}

.project-card {
	max-width: 240px; 
	min-width: 240px;
	min-height: 420px;
	 max-height: 420px;
}