@tailwind base;
@tailwind components;
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./Roboto-Regular.ttf) format('ttf');
}
@tailwind utilities;

html {
	zoom: 80%;
}

body {
	color: #1a202c;
	/* background-color: #eee; */
	background: #E1E2E1;
}

nav {
	background-color: #212121;
}
